/* hader1 */
body {
  font-family: "Khmer OS Battambang", Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  background-color: #ffffff;
}

.logo {
  height: 80px;
  background-image: none;
  display: flex;
  align-items: center;
  gap: 20px;
  overflow: hidden;
  background: transparent;
}
.logo img {
  height: 80px;
}
.nav {
  display: flex;
  gap: 10px;
}

.nav a,
.b1 {
  color: rgb(255, 255, 255);
  background-color: #c9b59c;
  padding: 10px 20px;
  border-radius: 25px;
}

/* hader1 */

.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 80px;
}

.hero-text {
  font-size: 5em;
  font-weight: bold;
  color: #2f2f2f;
  line-height: 1.1em;
}

.header1 {
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
}
.header1 img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.header1 h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: bold;
}

.section {
  background-color: #c9b59c;
  color: white;
  margin: 30px;
  padding: 20px;
  border-radius: 15px;
  line-height: 1.8;
}

ul {
  margin: 10px 0 10px 30px;
}
