body {
  font-family: "Khmer OS Battambang", Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  background-color: #ffffff;
}
.logo {
  height: 80px;
  background-image: none;
  display: flex;
  align-items: center;
  gap: 20px;
  overflow: hidden;
  background: transparent;
}
.logo img {
  height: 80px;
}
.nav {
  display: flex;
  gap: 10px;
}

.nav a,
.b1 {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: #a36a48;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  transition: margin-right 2s 0.5s;
}

nav a:hover {
  background-color: #8b5538;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 80px;
}

.hero-text {
  font-size: 5em;
  font-weight: bold;
  color: #2f2f2f;
  line-height: 1.1em;
}

.header1 {
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
}
.header1 img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.header1 h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: bold;
}

.rounded-title {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  border-bottom: 3px solid #c9b59c;
  background-color: #c9b59c;
  font-family: "Khmer OS", sans-serif;
  font-size: 24px;
  color: #ffffff;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 15px;
  width: 90%;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.gallery-item {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}

.gallery-item img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-bottom: 2px solid #ffeb3b;
}

.caption {
  padding: 10px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.4);
}
